AIRAdapter/Accumulator/GetAccumulator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GetAccumulator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetAccumulator" targetNamespace="http://www.example.org/GetAccumulator/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GetAccumulator/">
      <xsd:element name="GetAccumulatorRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAccumulatorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAccumulatorRequestMessage">
    <wsdl:part element="tns:GetAccumulatorRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAccumulatorResponseMessage">
    <wsdl:part element="tns:GetAccumulatorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GetAccumulator">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:GetAccumulatorRequestMessage"/>
      <wsdl:output message="tns:GetAccumulatorResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetAccumulatorSOAP" type="tns:GetAccumulator">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/GetAccumulator/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetAccumulator">
    <wsdl:port binding="tns:GetAccumulatorSOAP" name="GetAccumulatorSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>