AIRAdapter/Accumulator/GetAccumulatorByID.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GetAccumulatorById/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetAccumulatorById" targetNamespace="http://www.example.org/GetAccumulatorById/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GetAccumulatorById/">
      <xsd:element name="GetAccumulatorByIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="accumalatorId" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAccumulatorByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="acc" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAccumulatorByIdRequestMessage">
    <wsdl:part element="tns:GetAccumulatorByIdRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAccumulatorByIdResponseMessage">
    <wsdl:part element="tns:GetAccumulatorByIdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GetAccumulatorById">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:GetAccumulatorByIdRequestMessage"/>
      <wsdl:output message="tns:GetAccumulatorByIdResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetAccumulatorByIdSOAP" type="tns:GetAccumulatorById">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/GetAccumulatorById/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetAccumulatorById">
    <wsdl:port binding="tns:GetAccumulatorByIdSOAP" name="GetAccumulatorByIdSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>