AIRAdapter/Accumulator/SetAccumulator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SetAccumulator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SetAccumulator" targetNamespace="http://www.example.org/SetAccumulator/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SetAccumulator/">
      <xsd:element name="SetAccumulatorRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="serviceClass" type="xsd:string"/>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
            <xsd:element name="startDate" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="nodeType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetAccumulatorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SetAccumulatorRequestMessage">
    <wsdl:part element="tns:SetAccumulatorRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SetAccumulatorResponseMessage">
    <wsdl:part element="tns:SetAccumulatorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SetAccumulator">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:SetAccumulatorRequestMessage"/>
      <wsdl:output message="tns:SetAccumulatorResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SetAccumulatorSOAP" type="tns:SetAccumulator">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/SetAccumulator/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SetAccumulator">
    <wsdl:port binding="tns:SetAccumulatorSOAP" name="SetAccumulatorSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>