AIRAdapter/Offer/DeleteOffer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/DeleteOffer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeleteOffer" targetNamespace="http://www.example.org/DeleteOffer/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/DeleteOffer/">
      <xsd:element name="DeleteOfferRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="offerId" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteOfferResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DeleteOfferRequestMessage">
    <wsdl:part element="tns:DeleteOfferRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteOfferResponseResponse">
    <wsdl:part element="tns:DeleteOfferResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="DeleteOffer">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:DeleteOfferRequestMessage"/>
      <wsdl:output message="tns:DeleteOfferResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeleteOfferSOAP" type="tns:DeleteOffer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/DeleteOffer/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeleteOffer">
    <wsdl:port binding="tns:DeleteOfferSOAP" name="DeleteOfferSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>