AIRAdapter/Offer/UpdateOffer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/UpdateOffer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateOffer" targetNamespace="http://www.example.org/UpdateOffer/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/UpdateOffer/">
      <xsd:element name="UpdateOfferRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="offerId" type="xsd:decimal"/>
            <xsd:element name="startDate" type="xsd:string"/>
            <xsd:element name="expiryDate" type="xsd:string"/>
            <xsd:element name="offerType" type="xsd:decimal"/>
            <xsd:element name="offerProviderId" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateOfferResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateOfferRequestMessage">
    <wsdl:part element="tns:UpdateOfferRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateOfferResponseResponse">
    <wsdl:part element="tns:UpdateOfferResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UpdateOffer">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:UpdateOfferRequestMessage"/>
      <wsdl:output message="tns:UpdateOfferResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateOfferSOAP" type="tns:UpdateOffer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/UpdateOffer/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateOffer">
    <wsdl:port binding="tns:UpdateOfferSOAP" name="UpdateOfferSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>