AIRAdapter/FaF/CheckCurrentSubscription2.wsdl

<definitions 
 name="INCheckCurrentSubsription2"
 targetNamespace="http://xmlns.oracle.com/INCheckCurrentSubsription"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:tns="http://xmlns.oracle.com/INCheckCurrentSubsription"
 xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:client="http://xmlns.oracle.com/INCheckCurrentSubsription2"
 > 
 <types> 
  <schema attributeFormDefault="unqualified"
   elementFormDefault="qualified"
   targetNamespace="http://xmlns.oracle.com/INCheckCurrentSubsription"
   xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="INCheckCurrentSubsriptionProcessRequest">
    <complexType>
     <sequence>
      <element name="msisdn" type="string"/>
      <element name="transId" type="string"/>                                
    </sequence>
  </complexType>
</element>
<element name="INCheckCurrentSubsription2ProcessResponse">
  <complexType>
   <sequence>
     <element name="result" type="string"/>
     <element name="FAFs" type="tns:Group" maxOccurs="unbounded" minOccurs="1">
     </element>		                  
   </sequence>
 </complexType>
</element>

<complexType name="Group">
  <sequence>
   <element name="ID" type="string"></element>
   <element name="Members" type="tns:Msisdn" maxOccurs="unbounded" minOccurs="1"></element>
 </sequence>
</complexType>

<simpleType name="Msisdn">
  <restriction base="string"></restriction>
</simpleType>
</schema> 
</types> 
<message name="INCheckCurrentSubsription2RequestMessage"> 
  <part name="payload" element="tns:INCheckCurrentSubsriptionProcessRequest"/> 
</message> 
<message name="INCheckCurrentSubsription2ResponseMessage"> 
  <part name="payload" element="tns:INCheckCurrentSubsription2ProcessResponse"/> 
</message> 
<portType name="INCheckCurrentSubsription2"> 
  <operation name="process"> 
    <input message="tns:INCheckCurrentSubsription2RequestMessage"/> 
    <output message="tns:INCheckCurrentSubsription2ResponseMessage"/> 
  </operation> 
</portType> 
<binding name="INCheckCurrentSubsription2Binding" type="tns:INCheckCurrentSubsription2"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
  <operation name="process"> 
    <soap:operation style="document" soapAction="process"/> 
    <input> 
      <soap:body use="literal"/> 
    </input> 
    <output> 
      <soap:body use="literal"/> 
    </output> 
  </operation> 
</binding> 
<service name="INCheckCurrentSubsription2"> 
  <port name="INCheckCurrentSubsription2Port" binding="tns:INCheckCurrentSubsription2Binding"> 
    <soap:address location="http://localhost:8888/orabpel/default/INCheckCurrentSubsription2/1.0"/> 
  </port> 
</service> 
<plnk:partnerLinkType name="INCheckCurrentSubsription2"> 
  <plnk:role name="INCheckCurrentSubsription2Provider"> 
    <plnk:portType name="tns:INCheckCurrentSubsription2"/> 
  </plnk:role> 
</plnk:partnerLinkType> 
</definitions>