AIRAdapter/Adjustment/AdjustmentMultiDA.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/INAdjustmentMultiDA/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="INAdjustmentMultiDA" targetNamespace="http://www.example.org/INAdjustmentMultiDA/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/INAdjustmentMultiDA/">
      <xsd:complexType name="dedicatedAccountUpdateInfo">
          <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="dedicatedAccountID" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="adjustmentAmountRelative" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="dedicatedAccountValueNew" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="adjustmentDateRelative" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="expiryDate" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="dedicatedAccountUnitType" nillable="true" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="INAdjustmentMultiDARequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="transId" type="xsd:string" />
          	<xsd:element name="msisdn" type="xsd:string"></xsd:element>
            <xsd:element name="dedicatedAccountUpdateInfo" type="tns:dedicatedAccountUpdateInfo"></xsd:element>
            <xsd:element name="serviceId" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="INAdjustmentMultiDAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INAdjustmentMultiDARequestMessage">
    <wsdl:part element="tns:INAdjustmentMultiDARequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="INAdjustmentMultiDAResponseMesssage">
    <wsdl:part element="tns:INAdjustmentMultiDAResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="INAdjustmentMultiDA">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:INAdjustmentMultiDARequestMessage"/>
      <wsdl:output message="tns:INAdjustmentMultiDAResponseMesssage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="INAdjustmentMultiDASOAP" type="tns:INAdjustmentMultiDA">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/INAdjustmentMultiDA/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="INAdjustmentMultiDA">
    <wsdl:port binding="tns:INAdjustmentMultiDASOAP" name="INAdjustmentMultiDASOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>