AIRAdapter/Adjustment/Refill.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/INRefill/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="INRefill" targetNamespace="http://www.example.org/INRefill/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/INRefill/">
      <xsd:element name="INRefillRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="amount" type="xsd:decimal"/>
            <xsd:element name="paymentProfile" type="xsd:string"/>
            <xsd:element name="serviceId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="INRefillResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INRefillRequestMessage">
    <wsdl:part element="tns:INRefillRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="INRefillResponseResponse">
    <wsdl:part element="tns:INRefillResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="INRefill">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:INRefillRequestMessage"/>
      <wsdl:output message="tns:INRefillResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="INRefillSOAP" type="tns:INRefill">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/INRefill/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="INRefill">
    <wsdl:port binding="tns:INRefillSOAP" name="INRefillSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>