AIRAdapter/Adjustment/RefillFields.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/INRefillFields/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="INRefillFields" targetNamespace="http://www.example.org/INRefillFields/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/INRefillFields/">
      <xsd:element name="INRefillFieldsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="amount" type="xsd:decimal"/>
            <xsd:element name="paymentProfile" type="xsd:string"/>
            <xsd:element name="serviceId" type="xsd:string"/>
            <xsd:element name="treeDefinedField" minOccurs="0">
              <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="treeDefinedFieldName" type="xsd:string"/>
                    <xsd:element name="treeDefinedFieldType" type="xsd:string"/>
                    <xsd:element name="treeDefinedFieldValue" type="xsd:string"/>
                  </xsd:sequence>
              </xsd:complexType>
            </xsd:element>            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="INRefillFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INRefillFieldsRequestMessage">
    <wsdl:part element="tns:INRefillFieldsRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="INRefillFieldsResponseResponse">
    <wsdl:part element="tns:INRefillFieldsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="INRefillFields">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:INRefillFieldsRequestMessage"/>
      <wsdl:output message="tns:INRefillFieldsResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="INRefillFieldsSOAP" type="tns:INRefillFields">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/INRefillFields/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="INRefillFields">
    <wsdl:port binding="tns:INRefillFieldsSOAP" name="INRefillFieldsSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>