AIRAdapter/PSO/GetPSO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GetPSO/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetPSO" targetNamespace="http://www.example.org/GetPSO/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GetPSO/">
      <xsd:element name="GetPSORequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPSOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="serviceOffering" type="xsd:string"/>
            <xsd:element name="bitmap" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetPSORequestMessage">
    <wsdl:part element="tns:GetPSORequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetPSOResponseMessage">
    <wsdl:part element="tns:GetPSOResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GetPSO">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:GetPSORequestMessage"/>
      <wsdl:output message="tns:GetPSOResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetPSOSOAP" type="tns:GetPSO">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/GetPSO/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetPSO">
    <wsdl:port binding="tns:GetPSOSOAP" name="GetPSOSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>