AIRAdapter/PSO/SetPSO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SetPSO/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SetPSO" targetNamespace="http://www.example.org/SetPSO/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SetPSO/">
      <xsd:element name="SetPSORequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="serviceOffering" type="xsd:string"/>
            <xsd:element name="serviceOfferingMask" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetPSOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SetPSORequestMessage">
    <wsdl:part element="tns:SetPSORequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SetPSOResponseMessage">
    <wsdl:part element="tns:SetPSOResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SetPSO">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:SetPSORequestMessage"/>
      <wsdl:output message="tns:SetPSOResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SetPSOSOAP" type="tns:SetPSO">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/SetPSO/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SetPSO">
    <wsdl:port binding="tns:SetPSOSOAP" name="SetPSOSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>