AIRAdapter/UsageTresholdsAndCounters/GetUsageTresholdsAndCounters.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GetUsageThresholdsAndCounters/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetUsageThresholdsAndCounters" targetNamespace="http://www.example.org/GetUsageThresholdsAndCounters/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GetUsageThresholdsAndCounters/">
      <xsd:element name="GetUsageThresholdsAndCountersRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="originOperatorId" type="xsd:string"/>
            <xsd:element name="associatedPartyId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetUsageThresholdsAndCountersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="usageThresholdsAndCounters" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="usageThresholdAndCounter" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetUsageThresholdsAndCountersRequestMessage">
    <wsdl:part element="tns:GetUsageThresholdsAndCountersRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetUsageThresholdsAndCountersResponseResponse">
    <wsdl:part element="tns:GetUsageThresholdsAndCountersResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GetUsageThresholdsAndCounters">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:GetUsageThresholdsAndCountersRequestMessage"/>
      <wsdl:output message="tns:GetUsageThresholdsAndCountersResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetUsageThresholdsAndCountersSOAP" type="tns:GetUsageThresholdsAndCounters">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/GetUsageThresholdsAndCounters/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetUsageThresholdsAndCounters">
    <wsdl:port binding="tns:GetUsageThresholdsAndCountersSOAP" name="GetUsageThresholdsAndCountersSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>