AIRAdapter/UsageTresholdsAndCounters/UpdateUsageCounter.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/UpdateUsageCounter/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateUsageCounter" targetNamespace="http://www.example.org/UpdateUsageCounter/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/UpdateUsageCounter/">
      <xsd:element name="UpdateUsageCounterRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="counterId" type="xsd:string"/>
            <xsd:element name="newCounterValue" type="xsd:string"/>
            <xsd:element name="updateUsageCounterForMultiUser" type="xsd:string"/>
            <xsd:element name="productId" type="xsd:string"/>
            <xsd:element name="associatedPartyId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateUsageCounterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateUsageCounterRequestMessage">
    <wsdl:part element="tns:UpdateUsageCounterRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateUsageCounterResponseResponse">
    <wsdl:part element="tns:UpdateUsageCounterResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UpdateUsageCounter">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:UpdateUsageCounterRequestMessage"/>
      <wsdl:output message="tns:UpdateUsageCounterResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateUsageCounterSOAP" type="tns:UpdateUsageCounter">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/UpdateUsageCounter/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateUsageCounter">
    <wsdl:port binding="tns:UpdateUsageCounterSOAP" name="UpdateUsageCounterSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>