AIRAdapter/UsageTresholdsAndCounters/UpdateUsageTreshold.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/UpdateUsageThreshold/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateUsageThreshold" targetNamespace="http://www.example.org/UpdateUsageThreshold/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/UpdateUsageThreshold/">
      <xsd:element name="UpdateUsageThresholdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="thresholdId" type="xsd:string"/>
            <xsd:element name="newThresholdValue" type="xsd:string"/>
            <xsd:element name="associatedPartyId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateUsageThresholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateUsageThresholdRequestMessage">
    <wsdl:part element="tns:UpdateUsageThresholdRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateUsageThresholdResponseResponse">
    <wsdl:part element="tns:UpdateUsageThresholdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UpdateUsageThreshold">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:UpdateUsageThresholdRequestMessage"/>
      <wsdl:output message="tns:UpdateUsageThresholdResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateUsageThresholdSOAP" type="tns:UpdateUsageThreshold">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/UpdateUsageThreshold/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateUsageThreshold">
    <wsdl:port binding="tns:UpdateUsageThresholdSOAP" name="UpdateUsageThresholdSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>