AIRAdapter/SubscriberSegmentation/UpdateAccountGroup.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/UpdateSubscriberSegmentation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateSubscriberSegmentation" targetNamespace="http://www.example.org/UpdateSubscriberSegmentation/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/UpdateSubscriberSegmentation/">
      <xsd:element name="UpdateSubscriberSegmentationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="accountGroupID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateSubscriberSegmentationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateSubscriberSegmentationRequestMessage">
    <wsdl:part element="tns:UpdateSubscriberSegmentationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateSubscriberSegmentationResponseResponse">
    <wsdl:part element="tns:UpdateSubscriberSegmentationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UpdateSubscriberSegmentation">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:UpdateSubscriberSegmentationRequestMessage"/>
      <wsdl:output message="tns:UpdateSubscriberSegmentationResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateSubscriberSegmentationSOAP" type="tns:UpdateSubscriberSegmentation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/UpdateSubscriberSegmentation/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateSubscriberSegmentation">
    <wsdl:port binding="tns:UpdateSubscriberSegmentationSOAP" name="UpdateSubscriberSegmentationSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>