AIRAdapter/Balance/GetAllInfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GetINAllInfo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetINAllInfo" targetNamespace="http://www.example.org/GetINAllInfo/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GetINAllInfo/">
      <xsd:element name="GetINAllInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetINAllInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="maBalance" type="xsd:decimal"/>
            <xsd:element name="serviceClass" type="xsd:integer"/>
            <xsd:element name="expiredDate" type="xsd:string"/>
      <xsd:element name="terminateDate" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="da1" type="xsd:decimal"/>
            <xsd:element name="da2" type="xsd:decimal"/>
            <xsd:element name="da3" type="xsd:decimal"/>
            <xsd:element name="da4" type="xsd:decimal"/>
            <xsd:element name="da5" type="xsd:decimal"/>
            <xsd:element name="da6" type="xsd:decimal"/>
            <xsd:element name="da7" type="xsd:decimal"/>
            <xsd:element name="da8" type="xsd:decimal"/>
            <xsd:element name="da9" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetINAllInfoRequestMessage">
    <wsdl:part element="tns:GetINAllInfoRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetINAllInfoResponseResponse">
    <wsdl:part element="tns:GetINAllInfoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GetINAllInfo">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:GetINAllInfoRequestMessage"/>
      <wsdl:output message="tns:GetINAllInfoResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetINAllInfoSOAP" type="tns:GetINAllInfo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/GetINAllInfo/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetINAllInfo">
    <wsdl:port binding="tns:GetINAllInfoSOAP" name="GetINAllInfoSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>