AIRAdapter/Balance/GetDABalance.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GetINDABalance/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetINDABalance" targetNamespace="http://www.example.org/GetINDABalance/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GetINDABalance/">
      <xsd:element name="GetINDABalanceRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transId" type="xsd:string"/>
            <xsd:element name="msisdn" type="xsd:string"/>
            <xsd:element name="daId" type="xsd:string"/>
            <xsd:element name="unitType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetINDABalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="daBalance" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetINDABalanceRequestMessage">
    <wsdl:part element="tns:GetINDABalanceRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetINDABalanceResponseResponse">
    <wsdl:part element="tns:GetINDABalanceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GetINDABalance">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:GetINDABalanceRequestMessage"/>
      <wsdl:output message="tns:GetINDABalanceResponseResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetINDABalanceSOAP" type="tns:GetINDABalance">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.example.org/GetINDABalance/initiate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetINDABalance">
    <wsdl:port binding="tns:GetINDABalanceSOAP" name="GetINDABalanceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>